// В этом файле должны быть стили для БЭМ-блока news, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.news {

  $block-name:                &; // #{$block-name}__element

  &__item {
    background: #fff;
    padding: 20px;
    display: flex;
  }

  &__image {
    min-width: 400px;
    padding-bottom: 20%;
    margin-right: 20px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
  }
  &__text {
    font-size: 14px;
    line-height: 24px;
  }
}
