// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {

  $block-name:                &; // #{$block-name}__element

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
  z-index: 10;
  background: transparent;
  transition: background 0.3s ease-in-out, padding 0.3s ease-in-out;

  .page__wrap {
    display: flex;
    justify-content: space-between;
    @media (max-width: $screen-lg - 1 ) {
      .top-nav {
        flex-basis: 100%;
      }
    }
  }

  &--sticky {
    position: fixed;
    top: 0;
    background: #000;
    padding: 10px 0;

    .logo {
      max-width: 120px;
    }
  }

  // @media (max-width: $screen-lg - 1 ) {
  //   position: fixed;
  //   top: 0;
  //   background: #000;
  //   padding: 10px 0;
  // }

  .burger {
    display: none;
    @media (max-width: $screen-lg - 1 ) {
      display: block;
    }
  }


}
