// В этом файле должны быть стили для БЭМ-блока btn, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

$gray-lighter:                hsl(0, 0%, 80%) !default;
$gray-lightest:               hsl(0, 0%, 90%) !default;
$text-color:                  hsl(0, 0%, 10%) !default;
$line-height:                 1.375em;

$field-padding-vertical:      0.3em !default;
$field-padding-horizontal:    0.7em !default;

$border-radius:               3px !default;

.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: $field-padding-vertical  $field-padding-horizontal;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 1em;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  color: $text-color;
  border-radius: $border-radius;
  border: 1px solid $gray-lighter;
  background-color: $gray-lightest;
  background-image: none;
  transition: all $transition-time;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $text-color;
    background-color: darken($gray-lightest, 10%);
    border-color: darken($gray-lighter, 12%);
  }

  &:active,
  &:focus {
    @include field-focus;
  }

  &--disabled,
  &:disabled {
    opacity: $opacity;
    cursor: not-allowed;
    color: $text-color;
    background-color: $gray-lightest;
    border-color: $gray-lighter;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }


  &--main {
    color: #000;
    text-transform: uppercase;
    background-color: #8bdf04;
    background: linear-gradient(to right, #8bdf04 0%,#fff200 100%);
    border: 1px solid #8bdf04;
    border-radius: 0;
    font-weight: 700;
    padding: 1em 2em;

    &:hover,
    &:focus {
      color: #000;
      background: linear-gradient(to right, #8bdf04 0%,#8bdf04 100%);
      border-color: #8bdf04;
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
  }

  &--rounded {
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #8bdf04;
    border-radius: 30px;
    padding: 1em 2em;

    &:hover,
    &:focus {
      color: #fff;
      background: linear-gradient(to right, #8bdf04 0%,#fff200 100%);
      border-color: #fff;
    }

    &--disabled,
    &:disabled {
      color: #fff;
      background-color: $color-main;
      border-color: $color-main;
    }
  }
}
