// В этом файле должны быть стили для БЭМ-блока blank, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.blank {

  $block-name:                &; // #{$block-name}__element

  &__item {
    border: 1px solid #e5e5e5;
    padding: 35px;
  }

  &__body {
  }

  &__icon {
    width: 47px;
    height: 60px;
    margin: 0 auto 20px;
    background-image: url(../img/blank-icon.png);
    background-repeat: no-repeat;
  }

}
